<section>

	<br>

	<!-- Se saca el boton de descarga del widget que trae de interner-->
	<style type="text/css">
		#link_get_widget{
			display: none;
		}
	</style>

	<!--<div class="row">
		<div class="col-lg-12">
			<a href="http://www.accuweather.com/en/ar/trelew/3091/weather-forecast/3091" class="aw-widget-legal">
			</a><div id="awcc1486788338134" class="aw-widget-current"  data-locationkey="3091" data-unit="c" data-language="es" data-useip="false" data-uid="awcc1486788338134"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
		</div>
	</div>-->

	<div class="jumbotron">
		<div class="container">
			<h1>MEF WorkLab</h1>
			<p>Sistema para la gestion de piezas, campañas y personal</p>
		</div>
	</div>

</section>
