<section>
  
  <div class="page-header">
    <h1>Estodo Pieza {{vm.pieza.codigo}}</h1>
  </div>

  <div ng-app='img2fire'>
  <div ng-controller='base64Ctrl'>
    <div class="container-fluid">
      <p class="text-info" align="center">Upload Images to Firebase</p>
      <hr />

      <form ng-submit="uploadFile()">
        <input type="file" name="file" class="inputimg" id="nameImg" accept="image/*">
        <br />
        <span class="input-group-btn">
                <button  type="submit" class="btn btn-block">Upload Image 
                  <i class="material-icons">send</i>
                </button>
          </span>
      </form>
      <hr />
      <div ng-repeat="img in imgs | toArray | orderBy: '-date'" class="col-xs-12 col-sm-6 col-md-3">
        <img ng-src="{{img.base64}}">
        <a class="btn btn-danger btn-block" ng-click="deleteimg(img.$id)">Delete</a>
      </div>
    </div>
  </div>

</section>