<section>
  <div class="page-header">
    <h1>{{vm.pieza._id ? 'Editar Pieza' : 'Nueva Pieza'}}</h1>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <form name="vm.form.piezaForm" class="form-horizontal" ng-submit="vm.save(vm.form.piezaForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group" show-errors>
          <label class="control-label" for="codigo">Código</label>
          <input name="codigo" type="text" ng-model="vm.pieza.codigo" id="codigo" class="form-control" placeholder="Código de la pieza" required>
          <div ng-messages="vm.form.piezaForm.codigo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Código de la pieza es requerido.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Descripción</label>
          <textarea name="descripcion" ng-model="vm.pieza.descripcion" id="descripcion" class="form-control" placeholder="Descripción" required></textarea>
          <div ng-messages="vm.form.piezaForm.descripcion.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Descripción es requerido.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="campana">Campaña</label>
          <input name="campana" type="text" ng-model="vm.pieza.campana" id="campana" class="form-control" placeholder="Nombre de la campaña" required uib-typeahead="state.name for state in states | filter:$viewValue | limitTo:8" typeahead-on-select="onSelect($item, $model, $label)">
          <div ng-messages="vm.form.piezaForm.campana.$error" role="alert">
            <p class="help-block error-text" ng-message="required">La campaña es requerida</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="material">Material</label>
          <input name="material" type="text" ng-model="vm.pieza.material" id="material" class="form-control" placeholder="Material" required>
          <div ng-messages="vm.form.piezaForm.material.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Material de la pieza es requerido.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="latitud">Latitud</label>
          <input name="latitud" type="text" ng-model="vm.pieza.latitud" id="latitud" class="form-control" placeholder="Latitud" required pattern="\d{1,3}°\d{1,2}'\d{1,2}''[N,S,W,E]">
          <div ng-messages="vm.form.piezaForm.latitud.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Latitud es requerido.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="latitud">Longitud</label>
          <input name="longitud" type="text" ng-model="vm.pieza.longitud" id="longitud" class="form-control" placeholder="Longitud" pattern="\d{1,3}°\d{1,2}'\d{1,2}''[N,S,W,E]" required>
          <div ng-messages="vm.form.piezaForm.longitud.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Longitud es requerido.</p>
          </div>
        </div>



        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.pieza._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
