<section>
  <div class="page-header">
    <h1>{{vm.personal._id ? 'Editar Preferencias Personal' : 'Nuevo Personal'}}</h1>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <form name="vm.form.personalForm" class="form-horizontal" ng-submit="vm.save(vm.form.personalForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group" show-errors>
          <label class="control-label" for="nya">Nombre y Apellido</label>
          <input name="nya" type="text" ng-model="vm.personal.nya" id="nya" class="form-control" placeholder="Nombre y Apellido" required>
          <div ng-messages="vm.form.personalForm.nya.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre y Apellido son requeridos</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="dni">DNI</label>
          <input name="dni" type="number" ng-model="vm.personal.dni" id="dni" class="form-control" placeholder="DNI" required>
          <div ng-messages="vm.form.personalForm.dni.$error" role="alert">
            <p class="help-block error-text" ng-message="required">DNI es requerido</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="rol">Rol</label>
          <select name="rol" type="text" ng-model="vm.personal.rol" id="rol" class="form-control" required>
            <option>Investigador</option>
            <option>Técnico</option>
            <option>Voluntario</option>
          </select>
          <div ng-messages="vm.form.personalForm.rol.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Rol es requerido</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.personal._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
