<section>
  <div class="page-header">
    <h1>Campanas</h1>
  </div>
  <!--<div class="list-group">
    <a ng-repeat="campana in vm.campanas"
       ui-sref="campanas.view({ campanaId: campana._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="campana.created | date:'mediumDate'"></span>
        by
        <span ng-if="campana.user" ng-bind="campana.user.displayName"></span>
        <span ng-if="!campana.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="campana.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.campanas.$resolved && !vm.campanas.length">
    No Campanas yet, why don't you <a ui-sref="campanas.create">create one</a>?
  </div>-->
  <div class="cotainer">
    <ui-gmap-google-map></ui-gmap-google-map>
  </div>
</section>
